*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    --light-tema:hsl(0, 0%, 98%);
    --dark-tema:hsl(235, 21%, 11%);
    --list-dark:hsl(235, 24%, 19%);
    --paragrafo-dark:hsl(234, 11%, 52%);
    --global-check:hsl(280, 87%, 65%);
    --global-border-botton:hsl(235, 19%, 35%);
    --light-border-botton:hsl(236, 9%, 61%);
    --label-selected:hsl(220, 98%, 61%);

}

body{
    background-color: var(--dark-tema);
}

.light{
    background-color: var(--light-tema);
    
}


p{
    font-size: 13px;
}

h1{
    font-weight: 700;
    color: var(--light-tema);
    letter-spacing: 10px;
}

header{
    background-image: url(/images/bg-desktop-dark.jpg);
    height: 300px;
}

section,#secaoMain{
    margin: auto;
    width: 500px;
    position: relative;
    top: -30px;
}

.light header{
    background-image: url(/images/bg-desktop-light.jpg);
}

#titulo{
    width: 500px;
    display: flex;    
    justify-content: space-between;
    align-items: last baseline;
    margin: auto;   
    padding-top: 80px;
    padding-bottom: 50px;
}

img{
    flex: none;
    width: 16px;
    height: 16px;
}


img:hover{
    cursor: pointer;
}

.sol{
    display: block;
}
.lua{
    display: none;
}

.light .sol{
    display: none;
}

.light .lua{
    display: block;
}


.list,.minhas-divs,.resume{
    display: flex;
    width: 500px;
    margin: auto;
    background-color: var(--list-dark);
    padding: 10px;
    border-radius: 6px;
}

.minhas-divs{
    border-bottom: 0.5px solid var(--global-border-botton);
}


.light .list, .light .minhas-divs, .light .resume{
    background-color: var(--light-tema);
    border-bottom: 0.5px solid var(--light-border-botton);
}

.resume{
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -60px;
    display: none;
    grid-template-columns: 1fr 3fr 1fr;
}

.resume p, .resume label{
    color: var(--paragrafo-dark);
    font-size: 13px;
}


.textOpt label{
    padding: 0px 5px;
    font-size: 15px;
}

.textOpt{
    margin-left: -50px;
}

.filter:hover{
    cursor: pointer;
}

.checkbox-wrapper{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 0.5px solid var(--paragrafo-dark);  
    display: flex;
    justify-content: first center;
    align-items: center;

}

.checkbox-wrapper label{
    color: transparent;
    padding: 4px;
    font-size: 13px;
    font-weight: 700;
    
}

label:hover{
    cursor: pointer;
}

input[type= "checkbox"]{
    display: none;
}

input[type="radio"]{
    opacity: 0;
}


.inputTodo {
    margin-left: 10px;
    color: var(--paragrafo-dark);
    background-color: transparent;
    padding: 5px;
    border: none;
    width: 100%;
    outline: none;
}

footer { 
    font-size: 11px; 
    text-align: center; 
    color: var(--paragrafo-dark);
}

footer a { 
    color: hsl(228, 45%, 44%); 
}




@media(max-width:850px){

    header{
        background-image: url(/images/bg-mobile-dark.jpg); 
        height: 200px;       
    }

    section,#secaoMain{
        width: 320px;
    }
    
    .light header{
        background-image: url(/images/bg-mobile-light.jpg);
    }

    #titulo{
        width: 320px;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .list,.minhas-divs,.resume{
        width: 320px;
    }

    .resume p, .resume label{
        font-size: 9px;
    }

}